<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

        {% block title %}
        {% endblock %}

    </title>



</head>



<body>
<h1 style="background-color: darkolivegreen; color: white; text-align:center" "> Pildoras Infórmaticas </h1>

{% include "Superior/barra.html" %}

<h3>Cursos de programación, ofímatica y diseño web </h3>

{% block content %}

{% endblock %}

<p style="background-color: darkolivegreen; color: white; text-align:center">Cursos gratuitos. Gracias por su visita</p>



</body>
</html>